.header{
    background-color: rgba(70, 131, 180, 0.5);
    position: sticky;
    top: 0px;
    z-index: 2048;
}

.ribbon{
    height: 5px;
    background-color: brown;
}

@media print{

    .header{
        display: none;
    }
}