.header{
    background-color: rgba(70, 131, 180, 0.5);
    position: sticky;
    top: 0px;
    z-index: 2048;
}

.headerContainer{
    justify-content: center;
}

.ribbon{
    height: 5px;
    background-color: brown;
}

.navItems{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-bottom: 0;
}

@media print{

    .header{
        display: none;
    }
}