.contactDetailsSection{

}

.contactDetails{

}

.contactIcon{
    font-size: 25px;
    margin: 0.5rem 0;
}

@media print {

    .contactDetailsSection{
        margin-top: 10pt;
    }

    .contactIcon{
        font-size: 12pt;
    }
    
}