.professionalExperience{
    margin-bottom: 1rem;
}

.company{
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0 0.3rem;
    text-decoration: underline;
}

.role{
    font-weight: bold;
    font-size: 1rem;
    margin: 0 0.5rem;
}

.duration{
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
}

.responsibilities{
    padding-left: 1rem;
}