.container{
    position: relative;
    height: 100vh;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100vh - 15%), 20% 100%, 0% calc(100vh - 10%));
}

.backgroundImageContainer{
    position: absolute;
    /* top: 0;
    right: 0; */
    width: 100%;
    height: 100%;
}

.backgroundImageOverlay{
    position: absolute;
    background-color: rgba(128, 128, 128, 0.3);
    width: 100%;
    height: 100vh;
}

.textContentContainer{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* here goes the media queries for small screens */
@media screen and (max-width: 576px){

    .container{
        clip-path: polygon(0% 0%, 100% 0%, 100% calc(100vh - 10%), 50% 100%, 0% calc(100vh - 10%));
    }

    .textContentContainer{
        display: block;
        margin-top: 2rem;
    }
}
