.resumeSectionTitle{
    padding: 0.15rem 0;
}

.title{
    font-size: 1.25rem;
    color: blue;
}

.bottomLine{
    /* margin: 0.75rem 0; */
    width: 40%;
    color: blue;
    border-width: 1px;
    opacity: 0.8;
}

@media print{

    .resumeSectionTitle{
        font-size: 10pt;
        padding: 0;
    }

    .title{
        font-size: 14pt;
        color: 'red';
    }

    .bottomLine{
        border-width: 2px;
        opacity: 1;
    }
}