.professionalSkills{
    
}

.skillsList{
    font-size: 1.25rem;
}

.skillsList li{
    margin: 0.75rem 0;
}

@media print{
    .professionalSkills{
        margin-top: 12pt;
    }
    .skillsList{
        font-size: 10pt;
    }

    .skillsList li{
        margin: 2pt 0;
    }
}