.container{

}

.experience{
    font-size: 1.25rem;
    padding: 1rem 8rem;
}

.totalExperience{
    text-align: center;
    line-height: 2.5rem;;
}

.frontendExperience{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    line-height: 2.5rem;;
}

.jobExpectations{
    text-align: center;
    line-height: 2.5rem;
}

/* Here we write media queries */
@media screen and (max-width: 576px){

    .experience{
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .totalExperience{
        line-height: inherit;
    }

    .frontendExperience{
        line-height: inherit;
    }

    .jobExpectations{
        line-height: inherit;
    }
}