.extraSkills{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.icon{
    font-size: 60px;
    margin: 0.25rem 1rem;
}

/* Here goes the media queries */

@media screen and (max-width: 576px){

    .extraSkills span{
        margin: 0.5rem 1rem;
        font-size: 20px;
    }

    .icon{
        font-size: 60px;
        margin: 0.25rem 1rem;
    }
}