.container{

    --big-screen-spike-height: 200px;
    --small-screen-spike-height: 20px;
    --spike-width: 100px;
    --body-bg: white;
    
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom, #fdc830, #f37335);
    padding: 5rem 0rem;
}


/*
    All of the below content is inspired from kevin powell's : 
    title: 'Spice up your site | Easy waves, angles, & other creative shapes with CSS
*/

.container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: var(--big-screen-spike-height);
    background-color: var(--body-bg);
    mask-image: url("../../public/assets/wave-path.svg");
    
}

.container::before{
    top: 0;
    transform: rotate(0.5turn);
}

.title{
    margin: 4rem 1rem;
    text-align: center;
}

/* Here goes the media queries */

@media screen and (max-width: 576px){
    .container{
        padding: 2rem 0;
    }
    .container::before{
        height: var(--small-screen-spike-height);
        mask-image: url("../../public/assets/spike-path.svg");
        mask-size: var(--spike-width) 100%;
        top: 0;
        transform: rotate(0)
    }
}
