.container{
    width: 100%;
    padding: 1rem 0rem;
    background-color: rgb(8, 255, 165);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}    

.title{
    margin: 4rem 1rem;
    text-align: center;
}


