.titleBar{
    margin-top: 0.5rem;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.466);
    
}

.resumeContainer{
    margin: 1rem auto;
    border: 1px solid gray;
    border-radius: 10px;
}

.resumePaper{
    position: relative;
}
.resumeBackground{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}



.resumeContent{
    position: relative;
    z-index: 1024;
    display: grid;
    grid-template-columns: 3fr 4fr;
}

.resumeLeftContent{
    /* text-align: center; */
    padding: 2rem 4rem;
}

.resumeRightContent{
    padding: 300px 2rem 4rem 2rem;
}

.profileImageWrapper{
    text-align: center;    
}

.profileImage{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}


.educationBackground{

}


@media print{

    @page{
        size: A4 potrait;
    }

    @page: left{
        margin: 10cm;
    }

    @page: right{
        margin: 1cm;
    }

    .titleBar{
        display: none;
    }

    .resumeContent{
        position: relative;
        z-index: 1024;
        display: grid;
        grid-template-columns: 3fr 4fr;
    }

    .profileImageWrapper{
        text-align: inherit;
    }

    .profileImage{
        border: 5px solid goldenrod;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    .resumeContainer{
        border: none;
    }

    .resumeLeftContent{
        /* text-align: center; */
        padding: 12pt 12pt;
    }
    
    .resumeRightContent{
        padding: 200px 2rem 4rem 2rem;
    }
}


